rubyplugin/RubyPluginEnabler.xcodeproj/gus.mode1
rubyplugin/RubyPluginEnabler.xcodeproj/gus.mode1v3
rubyplugin/RubyPluginEnabler.xcodeproj/gus.pbxuser
rubyplugin/RubyPluginEnabler.xcodeproj/project.xcworkspace/contents.xcworkspacedata
rubyplugin/RubyPluginEnabler.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
rubyplugin/RubyPluginEnabler.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/WorkspaceSettings.xcsettings
rubyplugin/RubyPluginEnabler.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/RubyPluginEnabler.xcscheme
rubyplugin/RubyPluginEnabler.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/gus.mode1
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/gus.mode1v3
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/gus.pbxuser
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/xcuserdata/gus.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/RandomCG.xcscheme
objective-c/RandomCoreGraphicsGenerator/RandomCG.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
objective-c/AcornFileUpdate/AcornFileUpdate.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
objective-c/AcornFileUpdate/AcornFileUpdate.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/AcornFileUpdate.xcscheme
objective-c/AcornFileUpdate/AcornFileUpdate.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
objective-c/AcornImageChangeListener/AcornImageChangeListener.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
objective-c/AcornImageChangeListener/AcornImageChangeListener.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/AcornImageChangeListener.xcscheme
objective-c/AcornImageChangeListener/AcornImageChangeListener.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
objective-c/Kernelr/Kernelr.xcodeproj/gus.mode1
objective-c/Kernelr/Kernelr.xcodeproj/gus.mode1v3
objective-c/Kernelr/Kernelr.xcodeproj/gus.pbxuser
objective-c/Kernelr/Kernelr.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
objective-c/Kernelr/Kernelr.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/WorkspaceSettings.xcsettings
objective-c/Kernelr/Kernelr.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/Kernelr.xcscheme
objective-c/Kernelr/Kernelr.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
objective-c/AcornImageFramework/AcornImage.xcodeproj/gus.mode1v3
objective-c/AcornImageFramework/AcornImage.xcodeproj/gus.pbxuser
objective-c/AcornImageFramework/AcornImage.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
objective-c/AcornImageFramework/AcornImage.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/WorkspaceSettings.xcsettings
objective-c/AcornImageFramework/AcornImage.xcodeproj/xcuserdata/gus.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
objective-c/AcornImageFramework/AcornImage.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/AcornImage.xcscheme
objective-c/AcornImageFramework/AcornImage.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
objective-c/AcornImageFramework/AcornImageTest/AcornImageTest.xcodeproj/gus.mode1v3
objective-c/AcornImageFramework/AcornImageTest/AcornImageTest.xcodeproj/gus.pbxuser
objective-c/AcornImageFramework/AcornImageTest/AcornImageTest.xcodeproj/project.xcworkspace/xcuserdata/gus.xcuserdatad/UserInterfaceState.xcuserstate
objective-c/AcornImageFramework/AcornImageTest/AcornImageTest.xcodeproj/xcuserdata/gus.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
objective-c/AcornImageFramework/AcornImageTest/AcornImageTest.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/AcornImageTest.xcscheme
objective-c/AcornImageFramework/AcornImageTest/AcornImageTest.xcodeproj/xcuserdata/gus.xcuserdatad/xcschemes/xcschememanagement.plist
